@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: oklch(var(--background));
  --color-foreground: oklch(var(--foreground));
  --color-card: oklch(var(--card));
  --color-card-foreground: oklch(var(--card-foreground));
  --color-popover: oklch(var(--popover));
  --color-popover-foreground: oklch(var(--popover-foreground));
  --color-primary: oklch(var(--primary));
  --color-primary-foreground: oklch(var(--primary-foreground));
  --color-secondary: oklch(var(--secondary));
  --color-secondary-foreground: oklch(var(--secondary-foreground));
  --color-muted: oklch(var(--muted));
  --color-muted-foreground: oklch(var(--muted-foreground));
  --color-accent: oklch(var(--accent));
  --color-accent-foreground: oklch(var(--accent-foreground));
  --color-destructive: oklch(var(--destructive));
  --color-border: oklch(var(--border));
  --color-input: oklch(var(--input));
  --color-ring: oklch(var(--ring));
  --color-chart-1: oklch(var(--chart-1));
  --color-chart-2: oklch(var(--chart-2));
  --color-chart-3: oklch(var(--chart-3));
  --color-chart-4: oklch(var(--chart-4));
  --color-chart-5: oklch(var(--chart-5));
  --color-sidebar: oklch(var(--sidebar));
  --color-sidebar-foreground: oklch(var(--sidebar-foreground));
  --color-sidebar-primary: oklch(var(--sidebar-primary));
  --color-sidebar-primary-foreground: oklch(var(--sidebar-primary-foreground));
  --color-sidebar-accent: oklch(var(--sidebar-accent));
  --color-sidebar-accent-foreground: oklch(var(--sidebar-accent-foreground));
  --color-sidebar-border: oklch(var(--sidebar-border));
  --color-sidebar-ring: oklch(var(--sidebar-ring));
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  /* --- LIGHT MODE THEME SETTINGS (OKLCH channels) --- */
  --background: 0.985 0.002 272;
  --foreground: 0.141 0.005 285.823;
  --card: 1 0 0;
  --card-foreground: 0.141 0.005 285.823;
  --popover: 1 0 0;
  --popover-foreground: 0.141 0.005 285.823;
  --primary: 0.433 0.165 272.22;
  --primary-foreground: 1 0 0;
  --secondary: 0.967 0.001 286.375;
  --secondary-foreground: 0.21 0.006 285.885;
  --muted: 0.967 0.001 286.375;
  --muted-foreground: 0.552 0.016 285.938;
  --accent: 0.967 0.001 286.375;
  --accent-foreground: 0.21 0.006 285.885;
  --destructive: 0.577 0.245 27.325;
  --border: 0.92 0.004 286.32;
  --input: 0.92 0.004 286.32;
  --ring: 0.433 0.165 272.22;
  --chart-1: 0.646 0.222 41.116;
  --chart-2: 0.6 0.118 184.704;
  --chart-3: 0.398 0.07 227.392;
  --chart-4: 0.828 0.189 84.429;
  --chart-5: 0.769 0.188 70.08;
  --sidebar: 0.985 0.002 272;
  --sidebar-foreground: 0.141 0.005 285.823;
  --sidebar-primary: 0.433 0.165 272.22;
  --sidebar-primary-foreground: 0.985 0 0;
  --sidebar-accent: 0.967 0.001 286.375;
  --sidebar-accent-foreground: 0.21 0.006 285.885;
  --sidebar-border: 0.92 0.004 286.32;
  --sidebar-ring: 0.433 0.165 272.22;
}

.dark {
  /* --- DARK MODE THEME SETTINGS (OKLCH channels) --- */
  --background: 0.208 0.04 264;
  --foreground: 0.985 0 0;
  --card: 0.14 0.04 272.22;
  --card-foreground: 0.985 0 0;
  --popover: 0.14 0.04 272.22;
  --popover-foreground: 0.985 0 0;
  --primary: 0.488 0.243 264.376;
  --primary-foreground: 0.97 0.014 254.604;
  --secondary: 0.274 0.006 286.033;
  --secondary-foreground: 0.985 0 0;
  --muted: 0.274 0.006 286.033;
  --muted-foreground: 0.705 0.015 286.067;
  --accent: 0.274 0.006 286.033;
  --accent-foreground: 0.985 0 0;
  --destructive: 0.704 0.191 22.216;
  --border: 1 0 0;
  --input: 1 0 0;
  --ring: 0.58 0.22 272;
  --chart-1: 0.488 0.243 264.376;
  --chart-2: 0.696 0.17 162.48;
  --chart-3: 0.769 0.188 70.08;
  --chart-4: 0.627 0.265 303.9;
  --chart-5: 0.645 0.246 16.439;
  --sidebar: 0.14 0.04 272.22;
  --sidebar-foreground: 0.985 0 0;
  --sidebar-primary: 0.58 0.22 272;
  --sidebar-primary-foreground: 0.985 0 0;
  --sidebar-accent: 0.274 0.006 286.033;
  --sidebar-accent-foreground: 0.985 0 0;
  --sidebar-border: 1 0 0;
  --sidebar-ring: 0.58 0.22 272;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.slide-up-content {
  opacity: 0;
  transform: translateY(48px);
  transition: all 0.5s ease-out;
}

.swiper-slide-active .slide-up-content {
  opacity: 1;
  transform: translateY(0);
  transition: all 0, 5s ease-out;
}

.custom-pagination .swiper-pagination-bullet {
  @apply w-2 h-2 bg-white rounded-full transition-all duration-300 ease-in-out;
}

.custom-pagination .swiper-pagination-bullet-active {
  @apply w-8 bg-white/90;
}

.custom-prev .custom-next {
  z-index: 50;
  cursor: pointer;
}
